a , a:visited{
	    color: black;
}
#options
{


}

nav li a:hover {
  background-color: #c1e690;
}


.bar{
	background-color: black;
}

#wrapper{
	box-shadow: 0 0 0px 7px #c1e690;
}
#navheader li {
	border: solid 1px #c1e690;
}

#leftnav ul{
	background-color: #f7f7f7;
    border: solid 1px #8c8c8c;
}
#leftnav li{
	border: solid 1px #8cc63f;
}

h1, h2, h3, h4, h5, h6 {
	color: darkgreen;
}


#search input[type=text]{
	border: solid 2px #8cc63f;
}
#wstazkamiddle{
    background: #8cc63f;
	box-shadow: 0px 0px 11px 0px #8cc63f;
}
#wstazkaendleft{	
    background: linear-gradient(45deg, rgba(0,0,0,0) 50%, #cacaca 50%);
}

#wstazkaendright{
	background: linear-gradient(315deg, rgba(0,0,0,0) 50%, #cacaca 50%);
}

#footer{
	background:#8cc63f;
}

#search button{
  background: #ddd;
}
#search button:hover {
  background: #ccc;
 }
