a , a:visited{
	    color: black;
}
#options
{
	background: #efefef;
}

nav li a:hover {
  background-color: #c1e690;
}


.bar{
	background-color: black;
}

h1, h2, h3, h4, h5, h6 {
	color: darkgreen;
}


#search input[type=text]{
	border: solid 2px #8cc63f;
}
#wstazkamiddle{
    background: #8cc63f;

}
#wstazkaendleft{	
    background: linear-gradient(45deg, rgba(0,0,0,0) 50%, #cacaca 50%);
}

#wstazkaendright{
	background: linear-gradient(315deg, rgba(0,0,0,0) 50%, #cacaca 50%);
}

#footer{
	background:#8cc63f;
}

#search button{
  background: #ddd;
}
#search button:hover {
  background: #ccc;
 }
