a , a:visited{
	    color: black;
}
#options
{
	background: #efefef;
}


nav li a:hover {
  background-color: #c1e690;
}

#footer a{
	color: #fff;
}


.bar{
	background-color: black;
}

h1, h2, h3, h4, h5, h6 {
	color: darkgreen;
}


#search input[type=text]{
	border: solid 2px #8cc63f;
}
#wstazkamiddle{
    background: #8cc63f;
}