html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, iframe{
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}


/* Testing */
div{
	/*border: solid 1px; */
	/*padding: 0.5rem; */
}


	html {
		font-size: 16pt;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 360px) {

			html {
				font-size: 10pt;
			}

		}
		
		body, input, select, textarea {
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}
	
		h1, h2, h3, h4, h5, h6 {
		
		font-weight: 600;
		line-height: 1.5;
		padding-bottom:1rem;
		}
		
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}
	h1 {
		font-size: 2.25rem;
		line-height: 1.3;
	}

	h2 {
		font-size: 1.5rem;
		line-height: 1.4;
	}

	h3 {
		font-size: 1rem;
	}

	h4 {
		font-size: 0.8rem;
	}

	h5 {
		font-size: 0.7rem;
	}

	h6 {
		font-size: 0.6rem;
	}
	
		@media screen and (max-width: 736px) {

		h1 {
			font-size: 1.75rem;
			line-height: 1.4;
		}

		h2 {
			font-size: 1.25em;
			line-height: 1.5;
		}
		}
	


a , a:visited{
	text-decoration: none;
}

a {
	display: inline-flex;
}


article{
	padding-bottom:1rem;
}

#wrapper{
	margin: 1rem 4rem;
	z-index : 3;
	position:relative;	
	background-color: white;
	border-radius: 1rem;
    border: solid 1rem white;;
    box-shadow: 0 0 0px 7px #c1e690;
}

#bg{
	position:fixed;
	background-color : #ddd;
	top : 0;
	left : 0;
	width : 100%;
	height : 100vh;
	z-index: 1;
}

#logo {
	}

#logo img {
	max-width: 100%;
}

#showlinks{
	margin: 0 auto;
}
#optionscontent{
	margin-left:auto;
}
#options{
	text-align:center;
}

#options span{
	padding:0px 10px ;
}

#language{
	text-align:end;
}

#options ul{
	display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#options li
{
	float: left;
    margin: 2px;
    height: 30px;
    width: 30px;

}

#optionscontrast li
{
	border: solid 1px;
	border-radius: 100%;
}

#licontr1{
	background-color:white;
}

#licontr2{
    background-color: black;
}


#licontr3{
    background-color: black;
}

#contrast1{
	color:black;
	
}

#contrast2{
	color:yellow;
}
#contrast3{
	color:white;
}

.fontsize{
	 font-style: italic;
	 font-weight: 700;
    width: inherit;
    height: inherit;
    text-align: center;
	display: table-cell;
    vertical-align: middle;
}

#fonta{
	font-size:14px;
}

#fontaa{
	font-size:16px;
}
#fontaaa{
	font-size:18px;
}


#header{
	display:flex;
}

@media screen and (max-width: 1050px) {
	#header{
	width: 100%;
	}
}

#navheader{
	margin:auto;
}

#navheader ul{
	text-align:center;
}

#navheader li {
	border: solid 1px #c1e690;
    display: inline-block;
	margin-top: 4px;
}

#search{
	display:flex;
}

#search input[type=text] {
  padding: 6px;
}
#search button{
  float: right;
  padding: 0.86rem;
  background: #ddd;
  border: none;
  cursor: pointer;
}
#search button:hover {
  background: #ccc;
 }

nav li a {
  display: block;
  text-align: center;
  padding:  8px 16px;
  text-decoration: none;
}


#hello{
	text-align:center;
}

#hello h1{
	width: auto;
    margin: auto;
}

#hello img{
	max-width: 100%;
}
#main{
	display:flex;
	flex-direction: row-reverse;
}


#wstazkamiddle{
	padding: 1rem;
    display: flex;
	border-radius: 1rem 1rem 0 0;
}

#wstazkaend{
	display: flex;
}

#wstazkaend div{
    width: 2rem;
    height: 2rem;
}
#wstazkaendleft{	
    background: linear-gradient(45deg, rgba(0,0,0,0) 50%, #cacaca 50%);
	margin-right: auto;
    margin-left: 0;
}

#wstazkaendright{
	background: linear-gradient(315deg, rgba(0,0,0,0) 50%, #cacaca 50%);
}
#searchnav{
	float:right;	
}
#menu{
	margin-top:20px;
	float:right;
}
.bar{
    width: 35px;
    height: 5px;

    margin-top: 6px;
	padding: 0;
}



@media screen and (min-width: 700px) {
	#menubutton{
		display:none;
	}
	#wstazka{
	width: 108%;
    margin-left: -4%;
	}
}

@media screen and (min-width: 1150px){
	#wrapper{
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width: 700px) {
	#main{
		display:block;
	}
	article:first-child{	
		padding-top: 4rem;
	}
	#wrapper{
		margin:auto;
	}
	
}


#menubutton{
	width: 35px;
    text-align: center;
    padding: 0;
	margin-right: 0px;
    margin-left: auto;
}

#menubutton span{
	font-size:12px;
	text-align:center;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
	
}

#leftnav{
	width:max-content;
}

#leftnav ul{
	background-color: #f7f7f7;
    border: solid 1px #8c8c8c;
}
#leftnav li{
	border: solid 1px #8cc63f;
	
}



#footer{
	text-align: center;
	    letter-spacing: 0.2rem;
    font-size: 0.6rem;
    margin-bottom: 0;
    text-transform: uppercase;
	background:#8cc63feb;
	color:#fff;
}
