#wrapper,a,a:visited{
	color:yellow;
}

body{
	background-color:#2d2d2d;
}

#wstazkamiddle, #leftnav li{
	background-color:#1f191a;
	
}

#optionscontrast li{
	border-color:white!important;
}

#wrapper{
	border-color:black!important;
	background-color: black	!important;
}

#navheader li {
	border: solid 1px yellow;
}

#leftnav ul{
    border: solid 1px yellow;
}
#leftnav li{
	border: solid 1px yellow;
}
#wstazkaend{
	background-color: ##1f191a;
}

a:hover {
    background-color: blue;
    border-radius: 20%;
}

.bar{
	background-color: yellow;
}

#wstazkaendleft{	
    background: linear-gradient(45deg, rgba(0,0,0,0) 50%, #1f191a 50%);
}

#wstazkaendright{
	background: linear-gradient(315deg, rgba(0,0,0,0) 50%, #1f191a 50%);
}

#search input[type=text] {
    background-color: yellow;
}

#search button{
  background: #000;;
}

#search button:hover {
  background: blue;
}

#footer{
	background-color: #1f191a;
}

img, #map iframe{
	opacity:0.2;
}