span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, hgroup, menu, output, ruby,
section, summary, time, mark, audio, video,a,a:visited{
	color:yellow;
}

#options, #wstazkamiddle, #leftnav li{
	background-color:black;
	
}

#optionscontrast li{
	border-color:white!important;
}

#wrapper{
	border-color:black!important;
	background-color: black	!important;
}

#wstazkaend{
	background-color: yellow;
}

a:hover {
    background-color: blue;
    border-radius: 20%;
}

.bar{
	background-color: yellow;
}

#wstazkaendleft{	
    background: linear-gradient(45deg, rgba(0,0,0,0) 50%, #000 50%);
}

#wstazkaendright{
	background: linear-gradient(315deg, rgba(0,0,0,0) 50%, #000 50%);
}

#search input[type=text] {
    background-color: yellow;
}

#search button{
  background: #000;;
}

#search button:hover {
  background: blue;
}
